<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Ensure the path attribute points to your entry script after TypeScript compilation -->
      <add name="iisnode" path="dist/index.js" verb="*" modules="iisnode" />
    </handlers>
    <defaultDocument enabled="true">
      <!-- This sets the default document served by IIS -->
      <files>
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
