body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    background-color: #ffffff;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    transform: translateY(50%);
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  h1 {
    color: #333;
    text-align: center;
    margin-bottom: 24px;
  }
  
  label {
    margin-bottom: 4px;
    display: block;
    color: #333;
  }
  
  input[type="text"] {
    width: 100% ;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 1px;
  }
  
  .logout-button {
    margin-top: 1px; 
  }
  
  button[type="submit"]:hover {
    background-color: #666;
  }
  
  a {
    color: #0077cc;
    text-decoration: none;
    display: inline-block;
    margin-top: 16px;
    text-align: center;
    width: 100%;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  p {
    text-align: center;
    color: #333;
  }
  
  #success {
    color: green;
  }
  
  #error {
    color: red;
  }
  
  /* dashboard.html */
.website {
  background-color: #ffffff;
  width: 100%;
  height: 82%;
  max-width: 180vh;
  margin: 0 auto;
  padding: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transform: translateY(50%);
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.box {
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  height: 90%;
  padding: 3%;
}

#search {
  margin-top: 12px;
  margin-bottom: 3vh;
  height: 5vh;
  padding: 2%;
}

.middle, .main {
  text-align: left;
}

.left {
  margin-top: 10px;
}

.middle {
  margin-top: 11px;
}

.right {
  margin-top: 4vh;
  text-align: center;
}

#patients {
  font-weight: bold;
  text-decoration: underline;
}

hr {
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.bold {
  font-weight: bold;
  text-align: left;
  display:inline;
}

.tabs {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.break {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#doctor {
  margin-bottom: 65vh;
}

#logoutbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #0077cc;
  height: 5vh;
  width: 10vh;
}

#dash-logout {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 3vh;
}